@charset "utf-8";

/*
2022.09.30 copyright 2022 아티스트마인드(비만돌고래) All rights reserved
*/

/* Viewport resizing
@-webkit-viewport{width:device-width; zoom:1.0;}
@-moz-viewport{ width:device-width; zoom:1.0;}
@-ms-viewport{width:device-width; zoom:1.0;}
@-o-viewport {width:device-width; zoom:1.0;}
@viewport{width:device-width; zoom:1.0;} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	word-break: keep-all;
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
	color: #1E2932;
}

body {
	margin: 0;
	/* 1 */
	font-size: 1rem;
	/* 2 */
	font-family: 'NotoKr', Arial, sans-serif;
	line-height: 1.5;
	/* 3 */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  font size:Important number:21px 
html{font-size:75%;} /* 16px 
@media only screen and (min-width:480px) {html{font-size:78.25%;} }
@media only screen and (min-width:780px) {html{font-size:85.5%;} }
@media only screen and (min-width:1024px) {html{font-size:90%;} }
@media only screen and (min-width:1200px) {html{font-size:100%;} }*/

img {
	border: 0;
	outline: 0;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #fff;
}

a:active,
a:hover {
	outline: 0;
	font-weight: bold;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
}

.clfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden
}

.clfix {
	display: inline-block
}

.clfix {
	display: block
}

* html .clfix {
	height: 0
}

/* Hides from IE-mac */
.clfix {
	zoom: 1
}

/*for IE 5.5-7*/

.blind {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.brLine {
	display: block
}

.fl_l {
	float: left;
}

.fl_r {
	float: right;
}

.txtBlue_l {
	color: #81d6f5;
}

.txtBlue {
	color: #0085cd;
}

.txtRed {
	color: #ef3f22
}

.v_silde1 .txtBox .boldTxt_red {
	color: #c63c47;
	font-size: 60px;
	font-family: 'NotoSansKR-Black';
	letter-spacing: -1px;
}

.mt10 {
	margin-top: 10px;
}

.mt5 {
	margin-top: 5px;
}

.inBox {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}

h2 {
	font-size: 2.8rem;
	font-weight: 700;
}

.btns {
	background: #FA9600 url("https://www.ezhelp.co.kr/static/images/www/btn_icon1_wh.png") no-repeat;
	background-position: 92% 50%;
	display: inline-block;
	margin-right: 30px;
	border-radius: 30px;
	min-width: 180px;
	font-weight: 700;
	font-size: 1.28rem;
}

.btns a {
	padding: 14px 50px 12px 25px;
	color: #fff;
	display: block;
}

/*////////////////////////////////////*/

#skipNavi {
	position: absolute;
	top: -1000px;
	left: 0;
	width: 100%;
	z-index: 2000;
}

#skipNavi a {
	position: absolute;
	width: 100%;
	text-align: center;
	background: #ccc;
	color: #333;
}

#skipNavi a:focus {
	top: 1000px;
}

* #skipNavi a:active {
	top: 1000px;
}

header {
	/*display:flex;justify-content:space-between; align-items:start;*/
	position: relative;
	margin: 45px 30px;
	z-index: 20;
}

.left_menu a {
	color: #1E2932;
}

.left_menu {
	font-size: 1.2rem;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.left_menu h1 {
	margin-right: 40px;
	max-width: 300px;
	display: inline-block;
	vertical-align: top;
}

.left_menu h1 a {
	padding: 20px 120px;
	background: url('./img/topLogo.png') no-repeat;
	background-size: contain;
	display: block;
}

.left_menu .menu_wrap {
	display: inline-block;
	/*! width:calc( 100% - 300px ); */
	margin-top: 5px;
}
.left_menu .menu_wrap > li {
	padding-bottom:20px;
}

.left_menu .menu_wrap li {
	margin: 0 15px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	/* width:max-content; */
	/* width: 100%; */
	font-weight: 600;
}

.left_menu .menu_wrap ul li li {
	display: block;
	min-block-size: 40px;
	margin: 5px 0;
	font-weight: normal;
}

.left_menu .menu_wrap .inMenu {
	display: none;
	margin-top: 15px;
	margin-left: -10%;
	background: white;
	padding: 10px 0;
	width: 220px;
	border: 1px solid #000;
	width: 200px;
	margin-left: auto;
	margin-left: -30px;
	position: absolute;
}

.left_menu .menu_wrap .inMenu a {
	display: block;
	padding: 8px 10px 7px 10px;
	width: max-content;
}

.left_menu .menu_wrap .deep {
	width: calc(100vw - 330px);
	display: none;
}
.left_menu .menu_wrap .deep > ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.left_menu .menu_wrap .deep li {
	width: auto;
	display: inline-block;
}

.left_menu .menu_wrap .deep li li {
	display: block;
}

.right_menu {
	padding: 2px 15px;
	background: #0085cd;
	color: #fff;
	max-width: 320px;
	border-radius: 30px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	float: right;
}

.right_menu a {
	padding: 7px 5px;
	color: #fff;
	display: inline-block;
}

/* .left_menu .menu_wrap li.ac .inMenu, */
.left_menu .menu_wrap li:hover .inMenu {
	/* transition: 1.2s ease; */
	display: block;
}


.inNav_banner a {
	background: url('https://www.ezhelp.co.kr/static/images/www/main/h_menu_img1.png') no-repeat 50%;
	background-size: cover;
	padding: 20px 50px;
	float: left;
}

/*////*/

#footer {
	letter-spacing: -.5px;
}

#footer a:active,
#footer a:hover,
#footer a:focus {
	color: #7fc4fd;
	text-decoration: underline;
}

#footer .botomNav {
	padding: 70px 50px;
	background: #111;
}

#footer .botomNav ul {
	display: inline-block;
	width: 13.987%;
	vertical-align: top;
}

#footer .botomNav a {
	padding: 5px;
	font-size: 1.288rem;
	font-weight: 600;
	display: block;
}

#footer .botomNav li a {
	padding: 3px;
	font-weight: 300;
	font-size: 1.1rem;
}

#footer .midas {
	padding: 2.6rem 50px;
	background: #333;
	color: #fff;
}

#footer .midas .fl_l {
	/*! float:left; */
}

.midas .fl_l .subNav {
	margin: 1.175rem 0;
	font-size: 1.18rem;
}

.midas .fl_l .subNav a {
	padding: 5px 15px 5px 0;
	font-weight: 600;
}

.midas .fl_l li {
	line-height: 1.8;
	display: inline-block;
}

.midas .fl_l li:first-child {
	display: block;
}

.midas .fl_l p {
	margin-top: 12px;
	color: #999;
}

.midas .fl_r {
	text-align: right;
	font-size: 1.2rem;
}

.midas .fl_r a {
	color: #81d6f5;
}

.midas .fl_r .bottomBtn {
	margin-top: 17px;
}

.midas .fl_r .bottomBtn a {
	padding: 7px 18px;
	border-radius: 20px;
	background: #efefef;
	font-size: 1rem;
	margin-left: 5px;
	border: 2px solid #acacac;
	color: #555;
	display: inline-block;
	font-weight: 700;
}

.midas .fl_r .bottomBtn a:active,
.midas .fl_r .bottomBtn a:hover,
.midas .fl_r .bottomBtn a:focus {
	background: #0085cd;
	color: #fff;
	/* font-weight: 700; */
}

.midas .fl_r .phone {
	font-size: 3.075rem;
	font-weight: 700;
}

footer .patent {
	padding: 40px 50px;
	background: #f6f7f9;
	color: #333;
	text-align: left;
}

footer .patent ul,
footer .patent a {
	display: inline-block;
}

footer .patent a {
	margin-right: 30px;
}

.qickTop {
	font-weight: 600;
	position: fixed;
	bottom: 0;
	right: 7%;
	padding-bottom: 50px;
	background: url('./free/bottom_topBg.gif') repeat-y 50%;
	z-index: 10;
}

.qickTop a {
	padding: 7px 20px;
	color: #333;
	background: #f6f7f9;
}


#free {
	padding-top: 8.75rem;
	background: url('./free/pic_bg.jpg') no-repeat 60% 10%;
	background-size: cover;
	color: #fff;
	font-weight: 600;
}

#free .titleFree {
	padding: 0 2.875rem;
	font-size: 1.975rem;
}

#free .titleFree h2 {
	font-size: 3.8rem
}

#free .freeInfo {
	padding: 4.588rem 50px 7.125rem 50px;
	text-align: center;
	font-size: 1.675rem;
}

.freeCard {
	padding: 3.363rem 0 5.325rem 0;
	letter-spacing: -1px;
	width: 100%;
}

.freeCard figure {
	margin: .5%;
	padding: 5.625rem 1.375rem;
	background: #fff;
	display: inline-block;
	width: 31.333%;
	color: #181a1d;
	-moz-box-shadow: #000 0px 0px 10px;
	-webkit-box-shadow: #000 0px 0px 10px;
	box-shadow: #000 0px 0px 10px;
}

.freeCard figcaption {
	margin-top: 1.45rem;
}

.freeCard figure span {
	color: #0085cd;
	display: block;
}

#free .freeInfo .txt_nomal {
	font-weight: 300;
	text-decoration: underline;
}

#free .experience {
	padding: 45px 50px;
	background: #181a1d;
	color: #fff;
	font-size: 1.478rem;
	opacity: .9;
}

#free .experience .fl_l {
	padding-left: 120px;
	background: url('./free/pic_handStar.png') no-repeat;
	background-size: contain;
	font-size: 1.798rem;
	font-weight: 500;
}

#free .experience .fl_r {
	padding: 1.258rem 5.588rem 1.258rem 2.188rem;
	color: #fff;
	display: block;
	border-radius: 50px;
	background: #fa9600 url('./free/ico_freeBtn_back.png') no-repeat 97% 5px;
}


/*-------------main-----------------*/
.visual {
	position: relative;
	width: 100%;
}

.visual .inBox {
	text-align: center;
	padding: 7.9rem 50px;
}

.v_silde1 {
	background: #fff;
	height: 100%;
}

.v_silde1 .btn3 {
	text-align: center;
}

.v_silde1 .txtBox .boldTxt_gray {
	color: #222;
	font-size: 4.138rem;
	font-weight: 700;
	letter-spacing: 0;
	margin: 0 auto;
	line-height: 1.3;
}

.v_silde1 .txtBox .boldTxt_red {
	color: #c63c47;
	font-size: 4.138rem;
	font-weight: 700;
	letter-spacing: -1px;
}

.v_silde1 .txtBox {
	max-width: 700px;
	text-align: center;
	padding: 4.5rem 0 4rem 0;
}

.v_silde1 .txtBox ul {
	margin: 3.6rem auto 3.3rem auto;
	justify-content: center;
	max-width: 600px;
	text-align: center;
}

.v_silde1 .txtBox li {
	margin: 0 2.3%;
	text-align: center;
	font-size: 12.5px;
	color: #000;
	display: inline-block;
	vertical-align: top;
}

.v_silde1 .txtBox li img {
	margin: 0 auto 10px auto;
	max-width: 80px;
}

.v_silde1 .desc {
	max-width: 440px;
	margin: 0 auto;
}

.v_silde .txtBox .subBtn {
	background: #222 url("https://www.ezhelp.co.kr/static/images/www/btn_icon1_wh.png");
	padding-right: 25px;
	margin: 2.7rem auto 0 auto;
	padding: 5px 25px 5px 5px;
	max-width: 200px;
	border-radius: 15px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 2;
	background-repeat: no-repeat;
	background-position: 94% 50%;
}

.v_silde .txtBox .subBtn:hover,
.v_silde .txtBox .subBtn:focus {
	background: #000 url("https://www.ezhelp.co.kr/static/images/www/btn_icon1_wh_on.png");
	background-repeat: no-repeat;
	background-position: 92% 50%;
}

.v_silde .txtBox .subBtn a {
	color: #fff;
}

.swiper-pagination {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 20px;
}

.non {
	display: none;
}

/*20220527 슬라이드추가*/
.v_silde2 {
	background: url('https://www.ezhelp.co.kr/static/images/www/main/pic_slide02_Lefthand.png') no-repeat left bottom, url('https://www.ezhelp.co.kr/static/images/www/main/pic_slide02_Righthand.png') no-repeat right bottom #e2f5fe;
	background-size: inherit;
}

.v_silde2 .txtBox ul {
	margin: 1.5rem auto 2.3rem auto;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 750px;
	text-align: center;
}

.v_silde2 .txtBox li.wm50 {
	margin: 0 auto;
	max-width: 110px;
	font-size: 5rem;
}

.v_silde2 .txtBox li {
	margin: 0 2%;
	text-align: center;
	color: #888;
	display: inline-block;
	vertical-align: middle;
}

.v_silde2 li h2 {
	font-size: 4.138rem;
	color: #333;
	font-family: 'NotoSansKR-Bold';
	line-height: 1.3;
}

.v_silde2 .txtBox .slide__Inbtn {
	text-align: center;
	margin: 2% auto 4% auto
}

.v_silde2 .txtBox .slide__Inbtn a {
	margin-right: 7px;
	margin-left: 7px;
	width: 230px;
	max-width: 100%;
	color: #fff;
	display: inline-block;
	padding: 12px 45px 10px 15px;
}

.v_silde2 .topSubtxt {
	text-align: center;
	font-size: 1.728rem;
	color: #888;
	font-family: 'NotoSansKR-Bold';
}

.v_silde2 .topSubtxt span {
	color: #c63c47;
	font-weight: 900;
}

.v_silde2 .m_auto img {
	margin: 0 auto;
}

.swiper-wrapper {
	min-height: 100%;
}

.swiper-slide {
	height: auto !important;
}

#content1,
#content2,
#content3,
#content4,
#content5,
#content6,
#content7 {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	position: relative;
}

#content2,
#content4,
#content5,
#content7 {
	padding: 8.7rem 2.25rem;
}

#content1 {
	padding: 5rem 0;
	width: 100%;
	text-align: center;
	background-color: #f4f4f4;
	background: url('https://www.ezhelp.co.kr/static/images/www/main/c1_bg1.png') no-repeat left 50%, url('https://www.ezhelp.co.kr/static/images/www/main/c1_bg2.png') no-repeat right 50%;
	background-size: cover;
}

#content1 p {
	font-size: 2.1rem;
	font-weight: 700;
}

#content1 .coun {
	margin: 25px auto;
	justify-content: center;
	max-width: 700px;
}

#content1 .coun li {
	display: inline-block;
	vertical-align: bottom;
	width: 9%;
}

#content2 {
	background: url('https://www.ezhelp.co.kr/static/images/www/main/c2_bg.png') no-repeat 50%;
	background-size: cover;
}

#content2 .c2_img1 {
	width: 100%;
	background: url('https://www.ezhelp.co.kr/static/images/www/main/c2_bg.png') no-repeat 50%;
}

#content2 .c2_img1 img {
	max-width: 100%;
}

#content2 .txtbox {
	font-size: 1.2rem;
	padding-top: 1.95rem;
}

#content2 .txtbox p {
	margin: 20px 0 0 0;
	font-size: 2.25rem;
	font-weight: 500
}

#content2 .txtbox p span {
	color: #ef3f22;
	font-weight: 700;
}

#content2 .txtbox .txt5 {
	color: #777;
}

#content3 {
	padding: 0;
}

.sectionArea {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.sectionArea:not(.mainKeyvisual) {
	max-width: 2300px;
	margin: 0 auto;
}

.sectionArea .row {
	position: relative;
	width: 100%;
	height: 1020px;
	/* min-height: 980px; */
	left: 0;
	top: 0;
	z-index: 1;
	overflow: hidden;
}

.sectionArea .row.now-show {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.sectionArea .row .heading {
	position: relative;
	line-height: 1.2;
	z-index: 1;
}

.sectionArea .row.halfRow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sectionArea .row.halfRow>div {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.sectionArea .inner {
	width: 100%;
	margin: 0 auto;
}

.sectionArea img {
	max-width: 100%;
}

.sectionArea .swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.sectionPlatform .row {
	display: flex;
	min-height: 930px;
	/* background-image: url("./platform_bg.png"); */
	/* background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 center; */
}

.sectionPlatform .platformNavi {
	position: relative;
	height: 100%;
	width: 50%;
}

.sectionPlatform .naviCircle {
	background: #efefef url("./img/platform_txtbox.png") no-repeat;
	background-position-x: -20px;
	background-size: unset;
	background-position: 0 center;
	-webkit-transition: background-image ease .03s;
	transition: background-image ease .03s;
	text-align: right;
	z-index: 1;
	overflow:hidden
}

.sectionPlatform .slickSlide {
	width: 50%;
}

.sectionPlatform .naviCircle.showing {
	left: 0;
}

.sectionPlatform .subtabNavi {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	/* display: none;
	height: 740px; */
	z-index: 1;
	width: auto;
    padding-left: 36%;
}

.sectionPlatform .subtabNavi a {
	position: relative;
	z-index: 2;
	-webkit-display: flex;
	-ms-display: flex;
	display: -webkit-box;
	display: flex;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.sectionPlatform .subtabNavi a:hover {
	text-decoration: none;
	color: #fff;
}

.sectionPlatform .subtabNavi .type {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	margin-right: 5px;
	background: #0085cd;
	border-radius: 100%;
	/*! font-size:1.5rem; */
	text-align: center;
	-webkit-box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0.33);
	box-shadow: 0px 10px 16px -4pxrgba(0, 0, 0, 0.33);
	/* border: 3px solid #c2dbf7; */
	/* z-index: 999; */
	flex: 1 0 auto;
}
.sectionPlatform .subtabNavi li.ac .type,
.sectionPlatform .subtabNavi li:hover .type {
	background-color: #1853f6;
	border: 5px solid #fff;
	transition: 0.05s ease-in;
}
.sectionPlatform .subtabNavi li.ac .right,
.sectionPlatform .subtabNavi li:hover .right {
	font-size: 42px;
	font-weight: bold;
	color: #1853f6;
}

.sectionPlatform .subtabNavi .type>span {
	font-size: 27px;
	font-weight: 600;
	line-height: 1.2;
	margin: 0;
	border-radius: 100%;
	text-align: center;
	color: #fff;
}

.sectionPlatform .subtabNavi span {
	display: inline-block;
	font-size: 1.25rem;
	text-align: left;
	word-break: break-all;
}
.sectionPlatform .subtabNavi span.right {
	font-size: 33px;
	font-weight: normal;
	color: #333;
	position: relative;
	padding-left: 22px;
	white-space: nowrap;
	transition: 0.3s;
}
.sectionPlatform .subtabNavi li.ac span.right,
.sectionPlatform .subtabNavi li:hover span.right {
	padding-left: 60px;
}
.sectionPlatform .subtabNavi li span.right::before {
	
}
.sectionPlatform .subtabNavi li.ac span.right::before,
.sectionPlatform .subtabNavi li:hover span.right::before {
	content: '';
	position: absolute;
	top: 53%;
	left: 0;
	display: block;
	width: 0;
	height: 1px;
	background-color: #0084cc;
	transition: 0.3s;
}
.sectionPlatform .subtabNavi li.ac span.right:before,
.sectionPlatform .subtabNavi li:hover span.right:before {
	width: 50px;
}

.sectionPlatform .subtabNavi .item {
	-webkit-display: flex;
	-ms-display: flex;
	display: -webkit-box;
	display: flex;
	-ms-align-items: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: calc(100% / 5);
	opacity: 0;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	padding: 13px;
}

.sectionPlatform .subtabNavi .item:first-of-type {
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.sectionPlatform .subtabNavi .item:nth-child(2) {
	-webkit-transition: 0.6s ease;
	transition: 0.6s ease;
}

.sectionPlatform .subtabNavi .item:nth-child(2) a {
	margin-left: 120px;
}

.sectionPlatform .subtabNavi .item:nth-child(3) {
	/* height: calc((100% / 5) + 10px); */
	-webkit-transition: 0.9s ease;
	transition: 0.9s ease;
}

.sectionPlatform .subtabNavi .item:nth-child(3) a {
	margin-left: 150px;
}

.sectionPlatform .subtabNavi .item:nth-child(4) {
	/* height: calc((100% / 5) + 10px); */
	-webkit-transition: 1.2s ease;
	transition: 1.2s ease;
}

.sectionPlatform .subtabNavi .item:nth-child(4) a {
	margin-left: 120px;
}

.sectionPlatform .subtabNavi .item:nth-child(5) {
	/* height: calc((100% / 5) + 10px); */
	-webkit-transition: 1.5s ease;
	transition: 1.5s ease;
}

.sectionPlatform .subtabNavi .item:nth-child(5) a {
	/* margin-left: 12%; */
}

.sectionPlatform .subtabNavi.showing .item {
	opacity: 1;
}

.sectionPlatform .subtabNavi.active {
	display: block;
}

.sectionPlatform .subtab01 .item .selected p,
.main .sectionPlatform .subtab01 .item a:hover p {
	background-color: #1853f6;
	border: 5px solid #fff;
}

.sectionPlatform .inner {
	position: absolute;
	left: 48%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-48%, -50%);
	height: 100%;
	width: 100%;
}

.sectionPlatform .inner .conts {
	position: relative;
	float: right;
	width: 53.2%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #1853f6;
	text-align: left;
}

.sectionPlatform .inner .innerBox {
	padding-left: 7%;
	padding-right: 10%;
	color: #fff;
	/*! max-width: 1024px; */
}

/* .sectionPlatform .hoverBox {
	position: absolute;
	right: 0;
	top: 0;
	width: 53%;
	height: 100%;
	background-color: #1a4ab9;
	-webkit-transition: 0.6s ease-in;
	transition: 0.6s ease-in;
	z-index: 2;
} */



.sectionPlatform .hoverInner {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #1853f7;
	padding: 245px 7% 0;
	text-align: left;
	color: white;
}

.sectionPlatform .hoverInner .slick-dots {
	opacity: 0;
	top: 0;
	bottom: initial;
}

.sectionArea .slickSlide .heading {
	letter-spacing: -0.025em;
	font-size: 54px;
}
.sectionArea .slickSlide .heading .bigTxt {
	font-size: 72px;
}
.sectionArea .slickSlide .middleTxt {
	font-size: 39px;
	padding-top: 60px;
}

.sectionPlatform .hoverBox .btnClose {
	position: absolute;
	right: 10%;
	top: 10%;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url("//image.ahnlab.com/img_upload/kr/site/images2/main2/btn_close.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.sectionPlatform .hoverBox .innerCont {
	/* padding: 20% 20% 60px 12.5%; */
	color: #fff;
}

.sectionPlatform .hoverBox.pushing {
	right: 0;
}

.sectionPlatform .innerBox dl,
.sectionPlatform .innerCont dl {
	padding: 0 0 3.5rem 0;
	position: relative;
}

.sectionPlatform .fixTxt {
	position: absolute;
	top: 10%;
	left: 7%;
	position: absolute;
	top: 6%;
	font-size: 36px;
	line-height: 1.2;
	font-weight: bold;
	color: #fff;
	text-align: left;
	z-index: 1;
}

.sectionPlatform .fixLine {
	margin-top: 2.3rem;
	background: #FA9600;
	height: 3px;
	margin-left: -27%;
	border: 0;
}

.sectionPlatform .bigTxt {
	font-size: 4.2rem;
	font-weight: bold;
	display: block;
}

.sectionPlatform .middleTxt {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
	padding: 3.95rem 0 2.25rem 0;
}

.sectionPlatform .heading {
	font-size: 2.99rem;
	font-weight: 700;
	line-height: 1;
}

.sectionPlatform .desc {
	font-size: 30px;
	white-space: normal;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sectionPlatform .btns a {
	padding: 12px 50px 12px 25px;
}

#content4 {
	background: #292a2c;
	color: #fff;
}

#content4 article {
	display: none;
	padding: 20px 0 0;
}

#content4 h3 {
	padding: 3rem 0 2rem 0;
}

#content4 .tab_wrap {
	margin-top: 40px;
	font-size: 1.425rem;
}

/*라디오버튼 숨김*/
#content4 input {
	display: none;
}

#content4 label {
	display: inline-block;
	width: 26.331%;
	margin: 0 -3.5px;
	padding: 23px 0;
	text-align: center;
	vertical-align: top;
	border-top: 3px solid #9b9ba2;
	cursor: pointer;
	background: #dedee3;
	color: #444;
}

#content4 label.tab_center {
	background: #eee;
	border-top: 3px solid #9b9ba2;
}

#content4 label:hover,
#content4 label:focus {
	color: #0097e9;
	border-color: #0097e9;
	font-weight: 600;
	transition: 0.2s ease-in-out;
}

/*input 클릭시, label 스타일*/
#content4 input:checked+label {
	color: #0097e9;
	border-top: 3px solid #0097e9;
	font-weight: 600;
	background: #fff;
	margin-top: -7px;
}

#content4 #tab1:checked~#con1,
#content4 #tab2:checked~#con2,
#content4 #tab3:checked~#con3 {
	display: block;
}

#content4 .con {
	width: 100%;
	padding: 5rem 0 0 0;
}

#content4 .con h5 {
	font-size: 2.48rem;
	font-weight: 600;
	margin-bottom: 3.6rem;
}

#content4 .con p {
	font-size: 1.4rem;
	margin-bottom: 1.8rem;
}

#content4 .con img {
	text-align: center;
}

#content4 .con .txtbox {
	display: inline-block;
	width: 53%;
	padding: 7px 10px 30px 10px;
	vertical-align: top;
}

#content4 .con .imgbox {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

#content4 .con1 .flip-card {
	width: 43.5%;
	display: inline-block;
	border-radius: 15px;
	margin: 0 0 2.5% 1.5%;
	vertical-align: top;
	background-color: transparent;
	height: 240px;
	perspective: 1000px;
	max-width: 220px;
}

#content4 .con1 .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

#content4 .con1 .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

#content4 .con1 .flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#content4 .con1 .flip-card-front {
	color: black;
	border-radius: 15px;
	background-size: cover;
}

#content4 .con1 .il {
	background: url('./bg01.png') no-repeat;
}

#content4 .con1 .e {
	background: url('./bg02.png') no-repeat;
}

#content4 .con1 .sam {
	background: url('./bg03.png') no-repeat;
}

#content4 .con1 .sa {
	background: url('./bg04.png') no-repeat;
}

#content4 .con1 .flip-card-back {
	background-color: dodgerblue;
	color: white;
	transform: rotateY(180deg);
	border-radius: 15px;
}

#content4 .con1 .flip-card dl {
	padding: 40px 15px;
	border: 3px solid #acacac;
	color: #fff;
}

#content4 .con1 .flip-card dt {
	margin: 10px 0;
	font-weight: 600;
}

#content4 .con1 .flip-card dd {
	font-size: 1rem;
}

#content4 .con2 {
	position: relative;
}

#content4 .con2 ul {
	/* margin-left:3%; */
	padding-top: 15px;
	border: 3px solid #555;
	border-radius: 15px;
}

#content4 .con2 ul li {
	padding: 15px;
	;
	width: 43.5%;
	display: inline-block;
	margin: 0 0 2.5% 1.5%;
	vertical-align: middle;
}

#content4 .con3 .txtbox {
	width: 100%;
}

#content5 {}

#content5 .c4_img1 {
	margin: 0 auto;
	padding: 180px 0;
	background: url('https://www.ezhelp.co.kr/static/images/www/main/c4_img_l.png') no-repeat 5% 50%, url('https://www.ezhelp.co.kr/static/images/www/main/c4_img_r.png') no-repeat 95% 50%;
	background-attachment: initial;
}

#content5 .c4_img1 ul.txtbox {
	margin-top: -70px;
}

#content5 .t_s1 {
	display: inline-block;
	font-size: 20px;
	margin-bottom: 50px;
	padding: 3rem 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#content5 .t_s1 p {
	margin-bottom: 25px;
}

#content5 .t_s1 span {
	color: #ef3f22;
}

.awards {
	position: relative;
}

.awards .inner {
	padding: 3rem 0 2.5rem 0;
}

.awards .inBox {
	padding: 0;
}

.awards .swiper {
	width: 90%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.awards .swiper-slide {
	width: 100%;
}

.awards .swiper-slide ul {
	margin: 20px auto;
	text-align: center;
}

.awards .swiper-slide li {
	padding: 2px;
	width: 100%;
	max-width: 160px;
	height: 50px;
	margin: 5px;
	border: 1px solid #efefef;
	display: inline-block;
	border-radius: 5px;
	overflow: hidden;
}

.awards .swiper-slide li img {
	margin: 0 auto;
}

.awards .swiper-slide li:nth-child(0) {
	margin: 15px 10px 10px 30px
}

.awards .swiper-slide li:nth-child(1) {
	margin: 0 10px 20px 80px;
}

.awards .swiper-slide li:nth-child(2) {
	margin: 30px 10px 10px 60px;
}

.awards .swiper-slide li:nth-child(3) {
	margin: 0 10px 30px 30px;
}

.awards .swiper-slide li:nth-child(4) {
	margin: 10px 10px 0 30px;
}

.awards .swiper-slide li:nth-child(5) {
	margin: 0 10px 20px 30px
}

.awards .swiper-slide li:nth-child(6) {
	margin: 0 20px 20px 80px;
}

.awards .swiper-slide li:nth-child(7) {
	margin: 0 10px 10px 20px
}

.awards .swiper-slide li:nth-child(8) {
	margin: 0 8px 30px 30px;
}

.awards .swiper-slide li:nth-child(9) {
	margin: 15px 15px 0 20px;
}

.awards .swiper-slide li:nth-child(10) {
	margin: 0px 5px 20px 20px;
}

.awards .swiper-slide li:nth-child(11) {
	margin: 0 5px 15px 15px;
}

.awards .swiper-slide li:nth-child(12) {
	margin: 0 30px 40px 5px;
}

.awards .swiper-slide li:nth-child(13) {
	margin: 0 5px 19px 0;
}

.awards .swiper-slide li:nth-child(14) {
	margin: 0 0 30px 0;
}

.awards .swiper-slide li:nth-child(15) {
	margin: -5px 8px 25px 20px;
}

.awards .swiper-slide li:nth-child(16) {
	margin: 15px 5px 40px 10px;
}

.awards .swiper-slide li:nth-child(17) {
	margin: 0 10px 10px 0;
}

.awards .swiper-slide li:nth-child(18) {
	margin: 10px 5px 20px 20px;
}

.awards .swiper-slide li:nth-child(19) {
	margin: 0 25px 40px 50px;
}

.awards .swiper-slide li:nth-child(20) {
	margin: 0 5px 20px 0;
}

.awards .swiper-slide li:nth-child(21) {
	margin: 0 5px 40px 10px;
}

.awards .swiper-slide li:nth-child(22) {
	margin: 0 5px 10px 0;
}

.awards .swiper-slide li:nth-child(23) {
	margin: 0 5px 30px 50px;
}

.awards .swiper-slide li:nth-child(24) {
	margin: 0 5px 10px 20px;
}

.awards .swiper-slide li:nth-child(25) {
	margin: 0 20px 25px 30px;
}

.awards .swiper-slide li:nth-child(26) {
	margin: 0 5px 40px 0;
}

.awards .swiper-slide li:nth-child(27) {
	margin: 0 5px 20px 10px;
}

.awards .swiper-slide li:nth-child(28) {
	margin: 0 5px 10px 20px;
}

.awards .swiper-slide li:nth-child(29) {
	margin: 0 5px 30px 20px;
}

.awards .swiper-slide li:nth-child(30) {
	margin: 0 5px 30px 20px;
}

.awards .swiper-slide li:nth-child(31) {
	margin: 0 5px 40px 10px;
}

.awards .swiper-slide li:nth-child(32) {
	margin: 0 5px 0 10px;
}

.awards .swiper-slide li:nth-child(33) {
	margin: 0 15px 40px 20px;
}

.awards .swiper-prev,
.awards .swiper-next {
	outline: none;
	opacity: 0.5;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.awards .swiper-prev {
	left: 20px;
}

.awards .swiper-next {
	right: 20px;
}

#content6 {
	padding: 8.2rem 2rem;
	overflow: hidden;
	background: #4b6d93 url('./pic_mainReview.jpg') no-repeat;
	background-size: cover;
}

#content6 .inBox {
	position: relative;
}

#content6 .titlebox {
	text-align: left;
	color: #fff;
}

#content6 .titlebox p {
	padding: 10px 0 30px 0;
	font-size: 1.5rem;
}

#content6 .con_wrap {
	padding: 70px 0;
	overflow: hidden;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	background: #fff;
}

#content6 .con_wrap .con {
	margin-bottom: 20px;
	width: 32.333%;
	display: inline-block;
	border-left: 1px dashed #c9c9ca;
	padding: 0 30px;
	vertical-align: top;
}

#content6 .con_wrap .con:first-child {
	border-left: 0 none;
}

#content6 .con .txtbox {
	padding: 30px 20px;
	text-align: left;
	font-size: 1.2rem;
	border-top: 1px solid #eee;
	margin-top: 15px;
}

#content6 .con .txt1 {
	font-weight: bold;
	font-size: 1.85rem;
}

#content6 .con .ts1 {
	margin: 20px 0;
	color: #555;
}

#content6 .con .ts2 {
	color: #777;
}

#content6 .btnArea {
	position: absolute;
	top: 5%;
	right: 0;
}

#content7 {}

#content7 .title4 {
	margin-bottom: 50px;
}

#content7 .con {
	display: inline-block;
	width: 30%;
	margin: 0 0.5%;
	vertical-align: top;
}

#content7 .con img {
	max-width: 100%;
}

#content7 .con .txtbox {
	text-align: left;
}

#content7 .con .txtbox h5 {
	font-weight: bold;
	margin: 25px 0 10px 0;
	font-size: 1.7rem;
}

#content7 .con .txtbox p {
	color: #555;
	margin-bottom: 30px;
	font-size: 1.2rem;
}

#content7 .con .txtbox .title1 {
	color: #0097e9;
	font-size: 3rem;
	font-weight: 700;
}

#content7 .mainInfo {
	line-height: .8;
}

#content7 .mainInfo .num_Info a {
	color: #0097e9;
}

#content7 .mainInfo .in_Info {
	width: 20%;
	max-width: 180px;
}

#content7 .mainInfo .in_Info img {
	margin: 10px auto;
	padding: 0;
	max-width: 45px;
}
.right_menu_btn,
.mobile-menu-toggle {
	display: none;
}


@media (max-width:1320px) {

	html,
	body {
		font-size: .8rem;
	}

	img {
		width: 100%;
		max-width: fit-content;
	}

	.sectionPlatform .inner {
		left: 50%;
	}

	.sectionPlatform .naviCircle {
		width: 50%;
	}

	.sectionPlatform .subtabNavi span {
		display: grid;
	}


	/* .sectionPlatform .row {
		flex-direction: column;
		height: auto;
		min-height: 100%;
	}
	.sectionPlatform .slickSlide,
	.sectionPlatform .naviCircle {
		width: 100%;
	} */
}

@media (max-width:1024px) {

	#content1,
	#content2,
	#content4,
	#content5,
	#content6,
	#content7 {
		padding: 5.7rem 2.25rem;
	}

	#content1 .txtbox .coun li {
		width: 8%;
	}

	#content4 label {
		width: 30%;
		margin: 0 -2.5px;
	}

	#content4 .con1 .flip-card {
		width: 22.5%;
	}

	#content4 .con2 ul li {
		width: 22.5%;
		margin: 2.5% 0;
	}

	#content4 .con .txtbox,
	#content4 .con .imgbox {
		display: block;
		width: 100%;
	}

	#content4 .con .imgbox img {
		max-width: 93px;
	}
}

@media (max-width:980px) {

	.brLine {
		display: none;
	}

	.left_menu {
		display: block;
		width: 100%;
	}

	.left_menu .menu_wrap {
		display: none;
		padding: 0 30px 30px;
		text-align: left;
		margin-top: 0;
	}

	.left_menu .menu_wrap.ac {
		display: block;
	}
	.left_menu .menu_wrap li {
		width: 100%;
		font-size: 18px;
	}

	.left_menu .menu_wrap .inMenu {
		position: relative;
		width: 100%;
		margin-left: 0;
	}

	.left_menu .menu_wrap .inMenu a {
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}

	.right_menu {
		display: none;
		position: absolute;
		top: 46px;
		right: 20px;
		margin: 25px auto 0 auto;
		max-width: 100%;
		padding: 10px;
		font-size: 1.3rem;
		border-radius: 5px;
	}
	.right_menu.ac {
		display: block;
	}

	.v_silde1 .desc {
		display: none;
	}

	.v_silde2 {
		background-image: none;
	}

	.v_silde2 .txtBox li {
		display: block;
	}

	.awards .inner {
		/* margin-top:20px; */
		padding-top: 15px;
	}

	.awards .swiper-slide li:nth-child(n+1) {
		margin: 10px 5px
	}

	#content6 .btnArea {
		position: relative;
		margin-top: 40px;
	}

	#footer .botomNav {
		display: none;
	}

	.fl_l,
	.fl_r {
		float: none;
	}

	.midas .fl_r {
		text-align: left;
		border-top: 1px solid #444;
		margin-top: 30px;
		padding-top: 10px;
	}

	.midas img {
		max-width: 152022-10-130px;
	}
	#Warp {
		padding-top: 80px;
	}
	#naviUtill {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: white;
		margin: 0;
		height: auto;
	}
	.left_menu h1 {
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}
	.left_menu .menu_wrap {
		height: calc(100vh - 80px);
		overflow-y: auto;
	}
	.left_menu .menu_wrap li {
		margin: 0;
	}
	.left_menu .menu_wrap > li {
		border-top: 2px solid #000;
		padding: 28px 10px;
	}
	.left_menu .menu_wrap > li > a {
		position: relative;
		width: 100%;
		display: block;
		font-weight: bold;
	}

	.left_menu .menu_wrap > li > a::after {
		position: absolute;
		top: 5px;
		right: 15px;
		content: '';
		display: block;
		width: 6px;
		height: 6px;
		border: 2px solid #000;
		border-left: 0;
		border-bottom: 0;
		transform: rotate(135deg);
	}
	.left_menu .menu_wrap > li.ac > a::after {
		transform: rotate(-45deg);
	}

	.left_menu .menu_wrap li .inMenu {
		border: 0;
		padding-top: 0;
		display: none !important;
	}
	.left_menu .menu_wrap li.ac .inMenu {
		display: block !important;
	}
	.left_menu .menu_wrap .deep {
		width: 100%;
	}
	.left_menu .menu_wrap li .inMenu > ul{
		display: flex;
		flex-wrap: wrap;
	}
	.left_menu .menu_wrap li .inMenu > ul > li {
		width: 50%;
		margin: 10px 0;
	}
	.left_menu .menu_wrap li .inMenu > ul > li > a {
		font-weight: normal;
	}
	.left_menu .menu_wrap li .inMenu > ul > li > a.font-b {
		font-weight: bold;
		padding-top: 16px;
	}
	.left_menu .menu_wrap li .inMenu > ul ul li a {
		font-weight: normal !important;
	}
	.left_menu .menu_wrap .deep li {
		display: block;
	}
	.left_menu .menu_wrap .inMenu > ul > li > a:only-child::after {
		display: none;
	}
	.left_menu .menu_wrap .inMenu > ul > li.inNav_banner {
		width: 100%;
		margin: 0;
	}
	.left_menu .menu_wrap .inMenu > ul > li.inNav_banner {
		border-top: 0;
	}
	.left_menu .menu_wrap .inMenu > ul > li.inNav_banner a {
		width: 100%;
		margin: 15px 0 0 0;
		padding: 0 10px;
		display: flex;
		align-items: center;
		height: 76px;
	}
	.left_menu .menu_wrap .inMenu > ul > li.inNav_banner a::after {
		display: none;
	}
	.alone-list {
		padding: 28px 0;
		border-top: 2px solid #000;
	}
	.alone-list a::after {
		display: none !important;
	}

	.mobile-menu-toggle {
		display: block;
		background-color: transparent;
		border: 0;
		width: 52px;
		height: 52px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 14px;
		left: 20px;
	}
	.mobile-menu-toggle.ac span {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto;
	}
	.mobile-menu-toggle.ac span:nth-child(1) {
		transform: rotate(45deg);
	}
	.mobile-menu-toggle.ac span:nth-child(2){
		display: none;
	}
	.mobile-menu-toggle.ac span:nth-child(3) {
		transform: rotate(-45deg);
		margin-top: 0;
	}
	.mobile-menu-toggle span {
		width: 25px;
		height: 2px;
		background-color: #333;
		display: block;
		transition: 0.3s;
	}
	.mobile-menu-toggle span + span {
		margin-top: 5px;
	}
	.right_menu_btn {
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(./img/h_mypage.png) center/100% no-repeat;
		border: 0;
		width: 52px;
		height: 52px;
		position: absolute;
		top: 18px;
		right: 20px;
	}
	body.menuOpen {
		overflow-y: hidden;
	}
}


@media (max-width:780px) {

	#content4 .con1 .flip-card {
		width: 42.5%;
	}

	#content6 .con_wrap {
		background: none;
		padding: 0;
		box-shadow: none;
	}

	#content6 .titlebox p {}

	#content6 .con_wrap .con {
		padding-top: 0 none;
		display: block;
		width: 100%;
		background: #fff;
		padding: 20px 15px;
	}

	#content7 .con {
		margin-bottom: 50px;
		width: 100%;
		display: block;
	}

}


@media (max-width:620px) {}


@media (max-width:480px) {

	#content4 .con1 .flip-card {
		width: 100%;
	}

	#content1 .coun li {
		width: 9%;
	}

}